/* your style implementation goes here */

$borderRadius: 0.25rem;

.tokensContainer {
  padding: 1rem 2rem;

  .tokensTable {
    overflow-x: auto;

    table {
      border-collapse: collapse;
    }

    td,
    th {
      white-space: nowrap;
      padding: 0.5rem 1rem;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #f4f2f5;
    }

    .tokensId {
      span {
        margin-left: 1rem;
      }

      img {
        vertical-align: middle;
        border-radius: $borderRadius;
        width: 35px;
        height: 35px;
      }
    }

    .tokensRank {
      span {
        border-radius: $borderRadius;
        color: white;
        padding: 0.25rem;
        background-image: linear-gradient(
          to right top,
          #dc27b4,
          #cd19be,
          #b912ca,
          #a016d6,
          #7e20e2
        );
      }
    }

    .tokensBuyNow {
      img {
        border-radius: $borderRadius;
        object-fit: cover;
        width: 115px;
        height: 35px;
      }
    }

    .tokensLinks {
      display: flex;
      gap: 0.35rem;
      svg {
        width: 25px;
        height: 35px;
      }
    }
    .tokensAttributes {
      .tokensAttributeLists {
        display: flex;
        gap: 0.25rem;

        span {
          border-radius: $borderRadius;
          padding: 0.25rem;
        }

        > :nth-child(1) {
          background-image: linear-gradient(
            to right top,
            #13aa83,
            #39b278,
            #56b96c,
            #72c05e,
            #8fc54f
          );
          color: white;
        }

        > :nth-child(2) {
          background-image: linear-gradient(
            to right top,
            #ed1661,
            #f62a52,
            #fb3d42,
            #fe5031,
            #fd631b
          );
          color: white;
        }

        > :nth-child(3) {
          background-image: linear-gradient(
            to right top,
            #fb4e1b,
            #fb6816,
            #fa7e17,
            #f8921e,
            #f6a42b
          );
          color: white;
        }

        > :nth-child(4) {
          background-image: linear-gradient(
            to right top,
            #a02e5c,
            #8c2e68,
            #753170,
            #593473,
            #3a3672
          );
          color: white;
        }

        > :nth-child(5) {
          background-image: linear-gradient(
            to right top,
            #35bed9,
            #00b2e0,
            #00a4e5,
            #1d94e6,
            #4e82e0
          );
          color: white;
        }

        > :nth-child(6) {
          background-image: linear-gradient(
            to right top,
            #151e2d,
            #182333,
            #1a273a,
            #1d2c40,
            #1f3147
          );
          color: white;
        }

        > :nth-child(7) {
          background-image: linear-gradient(
            to right top,
            #16ab83,
            #39b378,
            #56ba6b,
            #72c05d,
            #8ec54e
          );
          color: white;
        }

        > :nth-child(8) {
          background-image: linear-gradient(
            to right top,
            #ed1661,
            #f62a52,
            #fb3d42,
            #fe5031,
            #fd631b
          );
          color: white;
        }
      }
    }
  }
}
