/* your style implementation goes here */

$borderRadius: 0.25rem;

.tokensContainer {
  padding: 1rem 2rem;

  .tokensTable {
    overflow-x: auto;

    table {
      border-collapse: collapse;
    }

    td,
    th {
      white-space: nowrap;
      padding: 0.5rem 1rem;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #f4f2f5;
    }

    .tokensId {
      span {
        margin-left: 1rem;
      }

      img {
        vertical-align: middle;
        border-radius: $borderRadius;
        width: 35px;
        height: 35px;
      }
    }

    .tokensRank {
      span {
        border-radius: $borderRadius;
        color: white;
        padding: 0.5rem;
        background-image: var(--gradient-primary);
      }
    }

    .tokensBuyNow {
      img {
        border-radius: $borderRadius;
        object-fit: cover;
        width: 115px;
        height: 35px;
      }
    }

    .tokensLinks {
      display: flex;
      gap: 0.35rem;
      svg {
        width: 25px;
        height: 35px;
      }
    }
    .tokensAttributes {
      .tokensAttributeLists {
        display: flex;
        gap: 0.25rem;

        span {
          border-radius: $borderRadius;
          padding: 0.25rem;
        }

        > :nth-child(1) {
          background-image: var(--gradient-trait-1);
          color: white;
        }

        > :nth-child(2) {
          background-image: var(--gradient-trait-2);
          color: white;
        }

        > :nth-child(3) {
          background-image: var(--gradient-trait-3);
          color: white;
        }

        > :nth-child(4) {
          background-image: var(--gradient-trait-4);
          color: white;
        }

        > :nth-child(5) {
          background-image: var(--gradient-trait-5);
          color: white;
        }

        > :nth-child(6) {
          background-image: var(--gradient-trait-6);
          color: white;
        }

        > :nth-child(7) {
          background-image: var(--gradient-trait-1);
          color: white;
        }

        > :nth-child(8) {
          background-image: var(--gradient-trait-2);
          color: white;
        }
      }
    }
  }
}
